<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
   
    <li class="breadcrumb-item active" aria-current="page">Home</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-12">
    <h3>Your Profile</h3>
    <button>Place Order</button>
    <button>Add Address</button>
  </div>

  <table class="table col-md-6 table-bordered" align="center">

    <tr>
      <th scope="row">Name</th>
      <td width="70%">{{retailer.retailerName}} </td>

    </tr>
  
    <tr>
      <th scope="row">Mobile</th>
      <td>{{retailer.retailerMobile}}</td>

    </tr>

    <tr>
      <th scope="row">Email</th>
      <td>{{retailer.email}}</td>

    </tr>



  </table>

</div>

<div class="row">
  <table class="table col-md-6 table-borderless " align="center">
    <tr>
      
      <td align="right" width="90%"> <button class="btn btn-primary" data-toggle="modal" data-target="#changePasswordModal" (click)="onChangePasswordClick()">Change Password</button></td>
      <td align="left"> <button class="btn btn-secondary" data-toggle="modal" data-target="#editRetailerModal" (click)="onEditRetailerClick(index)">Edit</button></td>
    </tr>
  </table>
</div>

<!-- Change Password Modal -->
<form [formGroup]="changePasswordForm">
  <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-info text-white">
          <h5 class="modal-title">Change Password</h5>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">


          <div class="form-group form-row">
            <label for="newPassword" class="col-form-label col-md-4">New Password:</label>
            <div class="col-md-8">
              <input type="password" placeholder="New Password" class="form-control" id="newPassword" formControlName="password" />
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnchngePasswordCancel">
            <i class="fa fa-times-circle"></i> Cancel
          </button>
          <button type="submit" class="btn btn-success" (click)="onUpdatePasswordClick($event)" [disabled]="editpasswordDisabled">
            <span *ngIf="!editpasswordDisabled"><i class="fa fa-save"></i> Save</span>
            <span *ngIf="editpasswordDisabled"><i class="fa fa-circle-o-notch  fa-spin"></i> Saving</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- Edit Retailer Modal -->
<form [formGroup]="editRetailerForm">
  <div class="modal fade" id="editRetailerModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-info text-white">
          <h5 class="modal-title">Update Details</h5>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group form-row">
            <label for="retailerMobile" class="col-form-label col-md-4">Name:</label>
            <div class="col-md-8">
              <input type="text" placeholder="Email" class="form-control" id="retailerName" formControlName="retailerName" />
              <small class="form-text text-muted">Enter Retailer Name.</small>
            </div>
          </div>

          <div class="form-group form-row">
            <label for="retailerMobile" class="col-form-label col-md-4">Mobile:</label>
            <div class="col-md-8">
              <input type="text" placeholder="Mobile" class="form-control" id="retailerMobile" formControlName="retailerMobile" />
              <small class="form-text text-muted">10 digit mobile number.</small>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnUpdateRetailerCancel">
            <i class="fa fa-times-circle"></i> Cancel
          </button>
          <button type="submit" class="btn btn-success" (click)="onUpdateRetailerClick($event)" [disabled]="editRetailerDisabled">
            <span *ngIf="!editRetailerDisabled"><i class="fa fa-save"></i> Save</span>
            <span *ngIf="editRetailerDisabled"><i class="fa fa-circle-o-notch  fa-spin"></i> Saving</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
